lead-outreach-voice-automation/Local Service Voice Agent Outreach .json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        868
      ],
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        868
      ],
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        704
      ],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "website",
              "value": "={{ $('per services sheet').item.json.website }}",
              "type": "string"
            },
            {
              "name": "title",
              "value": "={{ $('extract business name').item.json.text }}",
              "type": "string"
            },
            {
              "name": "address",
              "value": "={{ $('per services sheet').item.json.address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        480
      ],
      "name": "Input Variables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{REDACTED_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a highly skilled business researcher focused on local pet services companies such as pet groomers, boarding, training, or walking services. You will be provided the business name, location, and website. Your job is to gather factual, concise, and relevant details about the business.\\n\\nUse web search and publicly available information to find and verify the following:\\n- **Operating hours**\\n- **Address and contact information** such as email and phone if available\\n- **Services offered**\\n- **Pricing and payment methods**\\n- **Frequently asked questions**\\n- **Any unique or noteworthy information** about the business\\n\\nIf the homepage lacks full information, explore internal pages on the website such as `/services`, `/pricing`, `/rates`, `/faqs`, `/about`, `/contact`, or similar. These subpages often contain critical business information and should be prioritized if they exist.\\n\\n**Do not infer or assume anything.** If specific information is not found or confirmed, clearly write **Not specified.**\\n\\nFocus especially on confirming what services the business actually offers, whether prices or rates are publicly available, and whether operating hours are clearly stated.\\n\\nThis information will be used in a voice assistant knowledge base and to generate personalized email outreach, so keep formatting clean, natural, and brief.\\n\\nUse plain text only. Do not use bullet points, quotation marks, or section headers. Do not fabricate information. Keep each field to one short sentence where possible. Maintain a neutral, factual tone suitable for voice agents and emails. Highlight anything unique about the business that may help personalize outreach, such as if it is family-owned, mobile-only, or specializes in a particular service.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Input data: \\nCompany Name: {{ $json.title }}\\nCompany Website: {{ $json.website }}\\nCompany location: {{ $json.address }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        480
      ],
      "name": "Perplexity"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        480
      ],
      "name": "Download KB"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.choices[0].message.content }}",
        "name": "={{ $('Input Variables').item.json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/{{REDACTED_ID}}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1744,
        480
      ],
      "name": "Create KB from text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{REDACTED_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        480
      ],
      "name": "Upload KB to Vapi",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/tool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{REDACTED_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"query\",\n  \"knowledgeBases\": [\n    {\n      \"name\": \"my-knowledge-base\",\n      \"provider\": \"google\",\n      \"description\": \"handles business-related questions\",\n      \"fileIds\": [\n        \"{{ $json.id }}\"\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        384
      ],
      "name": "Query tool"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2416,
        576
      ],
      "name": "Wait",
      "webhookId": "{{REDACTED}}"
    },
    {
      "parameters": {
        "sendTo": "=harshalreddyn@gmail.com",
        "subject": "={{ $('Input Variables').item.json.title }} - number",
        "emailType": "text",
        "message": "=This is {{ $('Input Variables').item.json.title }}, and their phone number is {{ $('per services sheet').item.json.phoneNumber }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3536,
        820
      ],
      "name": "Send number to self",
      "webhookId": "{{REDACTED}}"
    },
    {
      "parameters": {
        "sendTo": "={{ $('per services sheet').item.json.email }}",
        "subject": "Built a quick demo for you",
        "emailType": "text",
        "message": "=Hi {{ $('Input Variables').item.json.title }},\n\nI’m based in the Richmond area and noticed a common challenge for local pet businesses: missed calls often mean missed bookings.\n\nSo I built a quick voice assistant demo for your website — it answers questions, books appointments, and keeps things moving even when you can’t pick up the phone.\n\nHere’s the demo:\nhttps://transcendent-cupcake-7b0bda.netlify.app/{{ $('create slug').item.json.slug }}\n\nNo pressure at all — just something I thought might be useful. If you’re curious, I’d be happy to tailor it more to your business.\n\nCheers,\nHarshal\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3536,
        604
      ],
      "name": "send email to client",
      "webhookId": "{{REDACTED}}"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('per services sheet').item.json.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3312,
        384
      ],
      "name": "does email exist"
    },
    {
      "parameters": {
        "tableId": "visitors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('extract business name').item.json.text }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $('create slug').item.json.slug }}"
            },
            {
              "fieldId": "system",
              "fieldValue": "={{ $json.model.messages[0].content }}"
            },
            {
              "fieldId": "first_message",
              "fieldValue": "={{ $json.firstMessage }}"
            },
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3088,
        384
      ],
      "name": "add row to supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/assistant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{REDACTED_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        384
      ],
      "name": "create assistant"
    },
    {
      "parameters": {
        "jsCode": "const title = $('Input Variables').first().json.title;\nconst toolId = $('Query tool').first().json.id;\nconsole.log(\"toolId:\", toolId);\nconsole.log(\"toolIds:\", [toolId]);\n\nconst systemMessageContent = `\n\n## Agent Identity & Purpose  \nYou are **Kylie**, the friendly and professional AI voice agent for '${title}'. Your primary purpose is to:  \n- Answer questions about the company’s operations, services, and pricing  \n- Assist callers with booking and scheduling  \n\nYou have access to a structured knowledge base called **my-knowledge-base** to retrieve factual details but **never** mention the tool or that you’re using it.\n\n---\n\n## Tone & Style  \n- Maintain a **warm yet professional** tone  \n- Speak clearly and naturally with **friendly**, **organized**, and **efficient** language  \n- Use conversational elements (e.g., “Let me check that for you”) to keep callers engaged  \n- Use **phonetic spelling** for names when needed to ensure accuracy  \n\n---\n\n## Interaction Guidelines  \n1. **One question at a time**  \n   Ask a single question and wait for the customer’s response before proceeding.  \n2. **No numbered bullet lists**  \n   Present options naturally within sentences instead of “1., 2., 3.”  \n3. **Detail confirmation**  \n   Restate important details explicitly, e.g.:  \n   > Just to confirm, you’d like to schedule a dog walk on Thursday, July 25 at 4 PM. Is that correct?\n\n---\n\n## Call Opening & Booking Flow  \n- **Opening line**  \n  > Thank you for calling '${title}'. This is Kylie, how may I help you today?  \n- **When booking is mentioned**  \n  > I’d be happy to assist you with scheduling. Could you tell me what kind of service you’re looking to schedule today?  \n- **New customer data collection**  \n  Collect full name, address, and contact information in a conversational manner.\n\n---\n\n## Handling Unavailable Information  \nIf the knowledge base does not contain the requested detail:  \n> I’m sorry, I don’t have that information on hand right now. Would you like me to check and get back to you, or connect you with a team member?\n\n---\n\n## General Best Practices  \n- Guide callers smoothly through the interaction  \n- Keep responses **concise** and **focused** on their needs  \n- Always prioritize a **smooth customer experience**  \n`;\n\nconst requestBody = {\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"emotionRecognitionEnabled\": true,\n      \"temperature\": 0.2,\n      \"maxTokens\": 256,\n      \"toolIds\": [\n        $('Query tool').first().json.id\n      ],\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": JSON.stringify(systemMessageContent.slice(1, -1))\n        }\n      ]\n    },\n    \"transcriber\": {\n      \"provider\": \"deepgram\",\n      \"keywords\": [\n        \"walking\",\n        \"sitting\",\n        \"grooming\",\n        \"boarding\",\n        \"overnight\",\n        \"puppy\",\n        \"medication\",\n        \"taxi\",\n        \"pricing\"\n      ],\n      \"language\": \"en\",\n      \"model\": \"nova-3\"\n    },\n    \"voice\": {\n      \"provider\": \"vapi\",\n      \"voiceId\": \"Kylie\"\n    },\n    \"firstMessage\": `Thank you for calling ${title}. This is Kylie, how many I help today?`,\n    \"maxDurationSeconds\": 600,\n    \"name\": `${title}-voice-agent`,\n    \"endCallMessage\": `Thanks for calling ${title}. Have a wonderful day!`\n};\n\nreturn {\n  json: requestBody\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        384
      ],
      "name": "create request body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "slug",
              "value": "={{ $json.text.replace(/\\s/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        480
      ],
      "name": "create slug"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert business name parser agent specialized in extracting the **core business name** from titles in the **Pet Services** niche. Titles often include irrelevant information such as service descriptions or location details. Your goal is to **isolate and return only the actual business name** — the unique, identifiable brand.\n\n---\n\n### Parsing Rules:\n\n1. **Preserve the Brand Name:**\n   Always retain the unique, brandable part of the name — the portion that would appear on a logo or storefront.\n\n2. **Remove Service Descriptors:**\n   Remove words related to services, such as:\n   `\"Pet Care\"`, `\"Petcare\"`, `\"Dog Walking\"`, `\"Grooming\"`, `\"Boarding\"`, `\"Training\"`, `\"Pet Sitting\"`, `\"Animal Services\"`, etc.\n\n3. **Remove Location References:**\n   Strip out city or regional names, such as:\n   `\"RVA\"`, `\"Richmond\"`, `\"Airport\"`, `\"Downtown\"`, `\"East Bay\"`, `\"TX\"`, `\"CA\"`, etc.\n\n4. **Remove Legal Suffixes:**\n   Discard terms like `\"Inc.\"`, `\"LLC\"`, `\"LLP\"`, `\"Co.\"`, `\"Company\"` if they appear at the end.\n\n5. **Keep as-is if Already Clean:**\n   If the title is already only the business name (no descriptors or location), return it unchanged.\n\n6. **Handle Acronyms and Portmanteaus Carefully:**\n   If the business name is a stylized acronym or creative merge (e.g., “DogServices”, “ZoomiesRVA”), do not split or over-trim — return the full brand name unless a clear service or location suffix can be separated without harming brand identity.\n\n7. **Retain Creative Naming Patterns:**\n   If a service word is embedded creatively as part of the brand (e.g., “Groom & Zoom”, “Fetch-A-Ride”), **retain the full name** if it clearly represents the brand identity and is not a generic descriptor.\n\n---\n\n### Examples:\n\n* **Input:** \"Pets at Play\"\n  **Output:** \"Pets at Play\"\n\n* **Input:** \"Playful Paws Petcare\"\n  **Output:** \"Playful Paws\"\n\n* **Input:** \"Barksley Dog Walking and Pet Sitting\"\n  **Output:** \"Barksley\"\n\n* **Input:** \"Pet Pleasers, Inc.\"\n  **Output:** \"Pet Pleasers\"\n\n* **Input:** \"Pet Paradise Richmond Airport\"\n  **Output:** \"Pet Paradise\"\n\n* **Input:** \"Toby Town RVA\"\n  **Output:** \"Toby Town\"\n\n* **Input:** \"DogServices\"\n  **Output:** \"DogServices\"\n\n* **Input:** \"ZoomiesRVA\"\n  **Output:** \"Zoomies\"\n\n* **Input:** \"Fetch-A-Ride Dog Taxi Service\"\n  **Output:** \"Fetch-A-Ride\"\n\n* **Input:** \"Groom & Zoom Mobile Pet Spa\"\n  **Output:** \"Groom & Zoom\"\n\n---\n\nLet me know if you'd like to add multilingual support, abbreviations, or brand detection using known service word exceptions.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        672,
        480
      ],
      "name": "extract business name"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/{{GOOGLE_SHEET_ID}}/edit?gid=821830120#gid=821830120",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 821830120,
          "mode": "list",
          "cachedResultName": "result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{{GOOGLE_SHEET_ID}}/edit#gid=821830120"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        868
      ],
      "name": "per services sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "per services sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "extract business name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "extract business name",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input Variables": {
      "main": [
        [
          {
            "node": "Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        [
          {
            "node": "Create KB from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download KB": {
      "main": [
        [
          {
            "node": "Upload KB to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create KB from text": {
      "main": [
        [
          {
            "node": "Download KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload KB to Vapi": {
      "main": [
        [
          {
            "node": "Query tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query tool": {
      "main": [
        [
          {
            "node": "create request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "does email exist": {
      "main": [
        [
          {
            "node": "send email to client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send number to self",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add row to supabase": {
      "main": [
        [
          {
            "node": "does email exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create assistant": {
      "main": [
        [
          {
            "node": "add row to supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create request body": {
      "main": [
        [
          {
            "node": "create assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create slug": {
      "main": [
        [
          {
            "node": "Input Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract business name": {
      "main": [
        [
          {
            "node": "create slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "per services sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send email to client": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send number to self": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}